* {
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: lightskyblue;
}

.container {
  width: 400px;
  height: 100px;
  display: flex;
  overflow: hidden;
}

.interactive-container {
  width: 150px;
  height: 100%;
  background-color: lightcoral;
  position: relative;
}

.person {
  width: 50px;
  height: 50px;
  background-color: rgb(247, 234, 62);
  border-radius: 50%;
  position: relative;
  transition: transform 1s ease;
}

.eyes {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 12.5px;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}

.eye {
  width: 6px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.mouth {
  width: 35px;
  height: 20px;
  background-color: black;
  border-radius: 0 0 60px 60px;
  top: 25px;
  position: absolute;
  left: 7.5px;
  transition: all 1s ease;
}

.mouth-surprised {
  width: 10px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 20px;
}

.smiling-person {
  position: absolute;
  top: 25px;
  left: 50px;
}

.box {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  width: 50px;
  height: 50px;
  background-color: white;
  position: relative;
  top: 20px;
  left: 52px;
  transform: rotate(180deg);
  opacity: 0;
  transition: all 1s ease;
}

.dots {
  position: absolute;
  top: 5px;
  left: 12.5px;
}

.surprised-person {
  position: absolute;
  bottom: -50px;
  right: -50px;
}

.text-container {
  width: 250px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
  font-weight: 500;
}

.container:hover .smiling-person {
  transform: translate(-50px, -25px);
}

.container:hover .surprised-person {
  transform: translate(-50px, -50px);
}

.container:hover .box {
  opacity: 1;
}

.container:hover .smiling-person .eyes,
.container:hover .smiling-person .mouth {
  transform: translateX(3px);
}
