* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: url('./wall.jpg');
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: 100;
  animation: glow ease-in-out 1s alternate infinite;
}

sup {
  font-size: 25px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  100% {
    text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px #e60073,
      0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073, 0 0 80px #e60073;
  }
}
