* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 100px;
  color: slateblue;
}

.container {
  position: relative;
}

.drop {
  width: 27px;
  height: 25px;
  background-color: slateblue;
  clip-path: ellipse(25% 40% at 50% 50%);
  position: absolute;
  bottom: 60px;
  animation: move 3s cubic-bezier(0.05, 0.34, 1, -0.19) infinite;
}

@keyframes move {
  to {
    transform: translateY(300px);
  }
}
