* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.phone {
  width: 60px;
  height: 60px;
  background-color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}

.icon {
  transform: rotate(-30deg);
  animation: shake 1s alternate infinite;
}

.phone::before,
.phone::after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid limegreen;
}

.phone::before {
  animation: move 1.5s linear infinite;
}

.phone::after {
  animation: move 1.5s 0.4s linear infinite;
}

@keyframes move {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(-35deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
